%html
  %head
    %link{type: 'text/css', src: 'stylesheets/screen.css'} 
  %body

    %h1 Ecoologic Log4j
    
    %form{action: '/', method: "post"}
      %input{type: :text, name: :name}
      %input{type: :submit}
    


